body{
    background-image: url("../images/fondo2.webp");
    font-size: 30px;
    color:#b5b5bd;
    font-weight: bold;
    font-family: "Indie Flower", sans-serif;
}
h1{
  text-align: center;
  color:#b5b5bd;
}
a {
  text-decoration: none;
  color:#b5b5bd;
}
.lista1 {
  list-style-type: square;
}
.contenedor-center{
  width: 600px;
  overflow: visible;
  clear:both;
}
.columnaizquierda {
  width: 300px;
  margin-left: auto;
  float:left;
}
.columnaderecha {
  color:#5b6a88;
  margin-left: 40px;
  width:auto;
}
.foto1 {
  border:1px solid #5b6a88;
}
p{
    text-align: justify;
  }

  .adalablogo {
    margin-left: 65%;
  }
  .telefonicalogo {
    margin-left: auto;
  }
  .lista2 {
    text-align: center;
  }
  .iconos {
    display: inline;
    margin-left: 30px;
  }
table {
  margin: 40px;
}
