.photo ,.about-me, .skills, .projects, .contact{
  position: relative;
  background-color: $tertiary-color;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.photo{
  background-color: $primary-color;
  margin-top: 88px;
}

.blank {
  position: relative;
  height: 0;
  bottom: 110px;
}


@media (min-width: $min-size-mobile){
  .indicated {
    box-shadow: 0px 10px 35px 10px rgba(255,255,255,0.52);
    transition: all 0.3s ease;
    z-index: 100;
  }

  .nonIndicated {
    z-index: 0;
    transition: all 0.3s ease;
  }
.about-me, .projects, .skills, .contact{
  position: absolute;
  padding: 20px;
}

.about-me, .projects{
    background-color: $secondary-color;
  }
.skills, .contact{
    background-color: $tertiary-color;
  }
.photo{
  position: absolute;
  top: 187px;
  left: 0;
  width: 45%;
  z-index: 50;
  margin-top: 0;
}
.about-me{
  top: 275px;
  right: 0;
  width: 60%;
  z-index: 60;
}
.skills{
  top: 650px;
  left: 0;
}
.projects{
  top: 1100px;
  right: 0;
  width: 75%;
  z-index: 80;
}
.contact{
  top: 2200px;
  left: 0;
  width: 50%;
}
.blank-about, .blank-skill, .blank-project, .blank-contacts{
  position: absolute;
  height: 0;
}
.blank-about{
  top: 210px;
}
.blank-skill{
  top: 550px;
}
.blank-project{
  top: 1050px;
}
.blank-contacts{
top: 2100px;
}
}
