.my-photo{
  width: 100%;
}
.img-link{
  margin-top: 10px;
  width: 50%;
  border-radius: 30px;
  height: 75px;
}
.up-image {
  width: 100%;
}


@media (min-width: $min-size-mobile){
.img-link{
  width: 30%;
  height: 150px;
}

}
