$primary-color: #4D4D4D;
$secondary-color: #B0AFAF;
$tertiary-color: #7F7F7F;
$border: 2px solid #95ED8C;
$color-burguer-title: #95ED8C;
$color-hover: #E8FEE6;
$min-size-mobile: 760px;
$size-line-burguer: 41.75%;
