$primary-color: #193441;
$secondary-color: #3D5865;
$tertiary-color: #3e606f;
$text-color: #fcfff5;
$border: 2px solid #91aa9d;
$color-burguer-title: #fcfff5;
$color-hover: #C8D9DC;
$min-size-mobile: 760px;
$size-line-burguer: 41.75%;
