$primary-color: #638D95;
$secondary-color: #40737D;
$tertiary-color: #245B65;
$text-color: white;
$border: 2px solid black;
$color-burguer-title: black;
$color-hover: #C8D9DC;
$min-size-mobile: 760px;
$size-line-burguer: 41.75%;
