* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 100%;
  background-color: #193441;
  margin: 0;
  font-family: 'Bellefair', serif;
  color: #fcfff5; }

h1 {
  text-align: center;
  color: #fcfff5;
  margin: 0;
  padding-top: 20px;
  font-size: 20px; }

h2 {
  text-align: center;
  color: #fcfff5;
  padding: 10px; }

p {
  font-size: 20px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  line-height: 25px; }

@media (min-width: 760px) {
  h1 {
    font-size: 40px; } }
.navButton {
  width: 45px;
  height: 40px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px; }

.navButton span {
  display: block;
  position: absolute;
  height: 16.5%;
  width: 100%;
  background: #fcfff5;
  border-radius: 16.5%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.navButton span:nth-child(1) {
  top: 0; }

.navButton span:nth-child(2) {
  top: 41.75%; }

.navButton span:nth-child(3) {
  bottom: 0; }

.navButton.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -41.75%; }

.navButton.open span:nth-child(2) {
  top: 14px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.navButton.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 41.75%; }

@media (min-width: 760px) {
  .navButton {
    display: none; } }
.nav-mobile {
  display: none;
  list-style-type: none; }

.nav-desktop {
  display: none;
  list-style-type: none;
  width: 100%; }

.nav-small-item {
  padding: 5px;
  border-bottom: 2px solid #91aa9d;
  font-weight: bold; }

.nav-small-item:last-child {
  border-bottom: none; }

.list-show {
  display: block;
  position: fixed;
  right: 0;
  top: 106px;
  background-color: #193441;
  z-index: -50;
  margin: 0;
  width: 100%;
  -webkit-animation: fall-down 1s;
          animation: fall-down 1s; }

@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fall-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.nav {
  width: 100%; }

.link-nav {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  color: #fcfff5; }

a:hover {
  color: #C8D9DC; }

@media (min-width: 760px) {
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .list-show {
    display: none; }

  .nav-small-item {
    padding: 10px 20px;
    border: 0; } }
.my-photo {
  width: 100%; }

.img-link {
  margin-top: 10px;
  width: 100%;
  border-radius: 90px;
  height: 75px; }

.up-image {
  width: 100%; }

@media (min-width: 760px) {
  .img-link {
    width: 50%;
    height: 150px; } }
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: black; }

.nav-content {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: #193441;
  border-bottom: 2px solid #91aa9d; }

.nav-mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #193441;
  padding: 5px 20px;
  height: 103px; }

.head-line-container-mobile {
  width: 100%; }

.head-line-container-desktop {
  display: none; }

@media (min-width: 760px) {
  .head-line-container-desktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .nav-content {
    padding: 0; }

  .head-line-container-mobile, .nav-mobile-container {
    display: none; }

  .hide {
    display: none; } }
.photo, .about-me, .skills, .projects, .contact {
  position: relative;
  background-color: #3e606f;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.skills {
  padding: 10px; }

.photo {
  background-color: #193441;
  margin-top: 88px; }

.blank {
  position: relative;
  height: 0;
  bottom: 110px; }

.up-page {
  width: 50px;
  position: fixed;
  display: none;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 101; }

@media (min-width: 760px) {
  .indicated {
    -webkit-box-shadow: 0px 10px 35px 10px rgba(255, 255, 255, 0.52);
            box-shadow: 0px 10px 35px 10px rgba(255, 255, 255, 0.52);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100; }

  .nonIndicated {
    z-index: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

  .about-me, .projects, .skills, .contact {
    position: absolute;
    padding: 20px; }

  .about-me, .projects {
    background-color: #3D5865; }

  .skills, .contact {
    background-color: #3e606f; }

  .photo {
    position: absolute;
    top: 187px;
    left: 0;
    width: 45%;
    z-index: 50;
    margin-top: 0; }

  .about-me {
    top: 275px;
    right: 0;
    width: 60%;
    z-index: 60; }

  .skills {
    top: 650px;
    left: 0; }

  .projects {
    top: 1100px;
    right: 0;
    width: 75%;
    z-index: 80; }

  .contact {
    top: 2300px;
    left: 0;
    width: 50%; }

  .blank-about, .blank-skill, .blank-project, .blank-contacts {
    position: absolute;
    height: 0; }

  .blank-about {
    top: 190px; }

  .blank-skill {
    top: 550px; }

  .blank-project {
    top: 1000px; }

  .blank-contacts {
    top: 2225px; }

  .up-page {
    width: 65px; } }
.container-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px; }

.container-icons {
  width: 100%;
  text-align: center; }

.icons {
  width: 50px;
  padding-right: 5px; }

@media (min-width: 760px) {
  .container-footer {
    position: absolute;
    top: 2560px; } }

/*# sourceMappingURL=index.css.map */